

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
    width: 100%;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

 .flex h2:first-child  {
font-family: Nunito, sans-serif;
font-weight: lighter;
line-height: 50px;
color: rgb(224, 16, 16);
text-align: center;
margin: 0.5em 2em;
}


.flex h2:last-child {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 1em 3em;
}

.first-video iframe{
    display: grid;
    max-width: 100%;
    min-height: 100%;
    padding: 0 1em;
}

.second-text p{
font-family: Nunito, sans-serif;
font-size: 19px;
font-weight: 500;
line-height: 35px;
color: rgb(0, 0, 0);
margin: 1em 0 3em 1em;
}

.third-text p {
font-family: Nunito, sans-serif;
font-size: 1.21rem;
font-weight: 500;
line-height: 43px;
color: rgb(0, 0, 0);
}

.icon-1 {
    display: flex;
    align-items: center;

}

.icon-1 i {
    font-size: 1.3rem;
    margin: 0 1em 0 1em;
    color: #2f9436;
}

.third-text > p {
    margin: 1.5em 0 2.5em 1em;
    font-size: 1.25rem;
}


.second-part h2 {
    text-align: center;
    margin: 0 0 1em 0;
}

.second-part p {
font-family: Nunito, sans-serif;
font-size: 1.21rem;
font-weight: 500;
line-height: 43px;
color: rgb(0, 0, 0);
}

.icon-2 {
   display: flex;
   align-items: center;
}

.icon-2 i {
    font-size: 1.3rem;
    margin: 0 1em 0 1em;
    color: #2f9436; 
}

.second-part-text>p {
    font-size: 1.25rem;
    margin: 0 0 2em 1em;
}

.second-part-second-text p {
    margin: 2em 0 0 1em;
    line-height: 1.7;
}

.second-part-second-text p span {
    font-weight: bold;
}

.icon-how i {
    font-size: 1.3rem;
    margin: 0 1em 0 1em;
    color: #2f9436; 
}

.icon-how {
    text-align: left;
    display: flex;
    align-items: center;
}

.icon-how p {
font-family: Nunito, sans-serif;
font-size: 1.21rem;
font-weight: 500;
line-height: 43px;
color: rgb(0, 0, 0);
}

.easiest {
    line-height: 2;
    text-align: left;
}

.easiest p {
 font-family: Nunito, sans-serif;
font-size: 1.21rem;
font-weight: 500;
line-height: 43px;
color: rgb(0, 0, 0);
margin: 0 0 0 1em;
}

.easiest span {
    font-weight: bold;
}

.third-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 1.5em 0 2em 0;
}

.third-part .video {
    margin: 0 0 2em 0;
}

.third-part .video iframe {
    max-width: 100%;
    max-height: 100%;
}

.third-part .video h2 {
    margin: 0 0 1.7em 0 ;
    font-size: 1.7rem;
}

.testimonial h2{
    text-align: center;
    font-size: 1.7rem;
    margin: 0 0 1.5em 0;
}

.testimonial-img img {
    width: 100%;
}

.testimonial-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 1em 0;
}

.testimonial-videos {
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.testimonial-videos-1 iframe{
    max-width: 100%;
    min-height: 100%;
}

.testimonial-texts-1 p {
    font-size: 1.21rem;
    margin: 0 0 2em 1em;
    line-height: 1.8;
}

.testimonial-text-icon {
   display: flex;
   align-items: center;
   margin: 0 0 1.5em 0;
}

.testimonial-text-icon i {
    font-size: 1.3rem;
    margin: 0 1em 0 1em;
    color: #2f9436; 
}

.testimonial-text-icon p {
    font-size: 1.21rem;
    
}

.testimonial-texts-3 p {
     font-size: 1.21rem;
     line-height: 1.8;
     margin: 2em 0 2em 1em;
}

.imagine-texts h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight:bolder;
}

.imagine-texts p {
    font-size: 1.21rem;
    margin: 2em 0 2em 1em;
    line-height: 1.8;
}


a button:hover {
    color: black;
    background-color: white;
    border: 1px solid #2f9436;
}

.available {
    margin: 0 0 0 1em;
}

.available-text h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight:bolder;
}

.trading-portfolios {
    margin: 0.8em 0 0 0;
}

.trading-portfolios h4 {
    font-size: 1.3rem;
    font-weight:bolder;
}

.trading-portfolios p {
    font-size: 1.21rem;
    line-height: 1.2;
}

.Premium {
    margin: 0 0 0 1em;
}


.Premium h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight:bolder;
    margin: 1em 0 0 0;
}

.Premium p {
    font-size: 1.21rem;
    margin: 0.2em 0 0 0;
}

.trading-portfolios-2 h4 {
    font-size: 1.3rem;
    font-weight:bold;
}

.trading-portfolios-2 {
    margin: 0.8em 0 0 0;
}


.important {
  margin: 1em 0 0 1em;
}

.important h3 {
    font-size: 1.3rem;
    font-weight:bold;
    margin: 0 0 0.5em 0;
}

.important p {
    font-size: 1.21rem;
    line-height: 1.3;
}

.important p span {
    font-weight: bold;
}

.important-link {
    text-align: center;
    margin: 1em 0 1em 0;
}

a button{
   background-color:#2f9436;
   border: 1px solid #2f9436;
   font-size: 1.2rem;
   padding: 1em 1.5em;
   color: white;
   border-radius: 5px;
   animation-name: button;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: alternate-reverse;
}

@keyframes button {
    0%{
        color: red;
    }

    20%{
        color: orange;
    }

    40%{
       color: yellow;
    }

    60%{
        color: darkgreen;
    } 

    80%{
        color: blue;
    }

    90%{
        color: indigo;
    }

    95%{
        color: violet;
    }

    100%{
        color: white;
    }
}






































@media only screen and (max-width:768px)  {
    .testimonial-img {
    display: grid;
    grid-template-columns:  1fr 1fr;
}
}

@media only screen and (max-width:600px) {
  .testimonial-img {
    display: grid;
    grid-template-columns: 1fr;
  }


}



